.signup-button {
  margin-left: 5px;
}

.signup-button,
.login-button {
  margin-top: 10px;
  background-color: rgb(0, 123, 255);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.password-input,
.email-input {
  width: 200px;
  padding: 8px;
  border-radius: 4px;
}

.email-input {
  margin-bottom: 5px;
}

.show-button {
  margin-left: 6px;
}
